node-red-flow/flows.json
[{"id":"fbc9b5d1.ecefe","type":"tab","label":"PyDSLog","disabled":false,"info":""},{"id":"26e66839.b01ad","type":"tab","label":"DSU Log","disabled":false,"info":""},{"id":"163f060d.2dc572","type":"tab","label":"AV Log","disabled":false,"info":""},{"id":"79732150.253cf","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"47399a80.748f54","type":"mqtt-broker","z":"","name":"ssvmq","broker":"127.0.0.1","port":"7883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2748a1e9.f35d9e","type":"ui_tab","z":"","name":"Daily Shift Usage Log","icon":"dashboard"},{"id":"39d263e3.2b025c","type":"ui_group","z":"","name":"Live","tab":"2748a1e9.f35d9e","order":1,"disp":true,"width":"24","collapse":false},{"id":"fdc280c5.3e8a5","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Tahoma,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Tahoma,Geneva,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2b7fde07.8432c2","type":"ui_group","z":"","name":"History","tab":"2748a1e9.f35d9e","order":3,"disp":true,"width":"24","collapse":false},{"id":"dd88485b.4bd0a","type":"ui_tab","z":"","name":"Activity Vibration Log","icon":"dashboard"},{"id":"a9dbae56.318d3","type":"ui_group","z":"","name":"Recording","tab":"2748a1e9.f35d9e","order":2,"disp":true,"width":"24","collapse":false},{"id":"b1edad0d.6f2d4","type":"ui_group","z":"","name":"Recording","tab":"dd88485b.4bd0a","disp":true,"width":"24","collapse":false},{"id":"e14ca5e7.58223","type":"csv","z":"26e66839.b01ad","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"time,f,m","skip":"0","x":470,"y":80,"wires":[["6196bed6.fb2ef","52e0f82d.de2a48"]]},{"id":"6196bed6.fb2ef","type":"file","z":"26e66839.b01ad","name":"","filename":"/media/data/wp.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","x":750,"y":80,"wires":[]},{"id":"64727e9f.97723","type":"exec","z":"79732150.253cf","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":370,"y":60,"wires":[["391801b2.838a36"],[],[]]},{"id":"391801b2.838a36","type":"csv","z":"79732150.253cf","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"x,y,z","skip":"0","x":490,"y":60,"wires":[["f2549fae.212098"]]},{"id":"1e01dfb.3b9a02","type":"function","z":"79732150.253cf","name":"navigate","func":"var x = flow.get(\"pointer\")\nif (isNaN(x))\n    x = 1\nif(msg.payload === 0)\n    x = 1\nelse\n    x += msg.payload-1;\nif (x < 1)\n    x = 1;\nflow.set(\"pointer\", x)\nreturn {payload:\"sed -n '\"+x+\",\"+(x+600)+\"'p /media/data/wp.csv\"};","outputs":1,"noerr":0,"x":240,"y":60,"wires":[["64727e9f.97723"]]},{"id":"a0b0c5b8.69cd08","type":"ui_button","z":"79732150.253cf","name":"","group":"2b7fde07.8432c2","order":2,"width":"2","height":"1","passthru":false,"label":"Next","color":"","bgcolor":"","icon":"","payload":"540","payloadType":"num","topic":"","x":90,"y":60,"wires":[["1e01dfb.3b9a02"]]},{"id":"17277ddc.164192","type":"ui_button","z":"79732150.253cf","name":"","group":"2b7fde07.8432c2","order":3,"width":"2","height":"1","passthru":false,"label":"Back","color":"","bgcolor":"","icon":"","payload":"-540","payloadType":"num","topic":"","x":90,"y":100,"wires":[["1e01dfb.3b9a02"]]},{"id":"f2549fae.212098","type":"function","z":"79732150.253cf","name":"chart","func":"var chart = [{\n    \"series\":[\"F\",\"A\"],\n    \"data\":[[],[]],\n    \"labels\":[\"Frequence\",\"Magnitude\"]\n}];\n\nfor(var i = 0; i < msg.payload.length; i++) {\n    chart[0].data[0].push({\"x\":msg.payload[i].x, \"y\":msg.payload[i].y})\n    chart[0].data[1].push({\"x\":msg.payload[i].x, \"y\":msg.payload[i].z})\n}\n\nreturn {payload:chart};","outputs":1,"noerr":0,"x":610,"y":60,"wires":[["6528772a.d6b9b"]]},{"id":"6528772a.d6b9b","type":"ui_chart","z":"79732150.253cf","name":"","group":"2b7fde07.8432c2","order":1,"width":"22","height":"6","label":"Amplitude + Freq. / T","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"0","removeOlderPoints":"600","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#ff7f0e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":820,"y":60,"wires":[[],[]]},{"id":"9e5781ad.6e6e3","type":"ui_button","z":"79732150.253cf","name":"","group":"2b7fde07.8432c2","order":4,"width":"2","height":"1","passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":90,"y":140,"wires":[["1e01dfb.3b9a02"]]},{"id":"e83516b5.13eb3","type":"ui_chart","z":"79732150.253cf","name":"","group":"39d263e3.2b025c","order":2,"width":"16","height":"6","label":"Amplitude spectrum","chartType":"line","legend":"false","xformat":"SSS","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"25000","removeOlder":"0","removeOlderPoints":"300","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#ff7f0e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":820,"y":240,"wires":[[],[]]},{"id":"5fc1873.5ee45f8","type":"function","z":"79732150.253cf","name":"chart","func":"var chart = [{\n    \"series\":[\"f\"],\n    \"data\":[[]],\n    \"labels\":[\"\"]\n}];\nvar f = msg.payload.fft.f;\nvar m = msg.payload.fft.m;\nfor(var i = 0; i < f.length; i++)\n    chart[0].data[0].push({\"x\":f[i], \"y\":m[i]})\n\nreturn {payload:chart};","outputs":1,"noerr":0,"x":150,"y":240,"wires":[["e83516b5.13eb3"]]},{"id":"13f2ee88.a940b1","type":"ui_gauge","z":"79732150.253cf","name":"","group":"39d263e3.2b025c","order":3,"width":"4","height":"4","gtype":"gage","title":"Freq. max. Ampl.","label":"Hz","format":"{{msg.payload.fft.max.f}}","min":0,"max":"300","colors":["#e6e600","#e6e600","#e6e600"],"seg1":"","seg2":"","x":830,"y":280,"wires":[]},{"id":"2e645684.6a30aa","type":"link in","z":"79732150.253cf","name":"fft_in","links":["ccf190b2.05181","2a4fc483.691604"],"x":55,"y":240,"wires":[["5fc1873.5ee45f8"]]},{"id":"7b197481.a23b24","type":"link in","z":"79732150.253cf","name":"max_f_in","links":["72f186c8.6e666","505e7c7c.9f8e2c"],"x":55,"y":280,"wires":[["13f2ee88.a940b1","b48bd9d1.d28838"]]},{"id":"a9d9d29c.0d5d38","type":"link in","z":"26e66839.b01ad","name":"max_f_in","links":["72f186c8.6e666","505e7c7c.9f8e2c"],"x":55,"y":80,"wires":[["fccd1d96.8e8418"]]},{"id":"652daa7d.baa434","type":"ui_template","z":"79732150.253cf","group":"39d263e3.2b025c","name":"Anlage Image","order":1,"width":"4","height":"6","format":"<p style=\"font-size:19px\">Anlage: NIBE SPLIT</p><br>\n<img width=\"100%\" height=\"100%\" src=\"https://www.nibe.eu/assets/product/356/NIBE-SPLIT_HK200S-SMO40_AMS12kW01.png?width=300px\" alt='Image not found'  />\n\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":840,"y":360,"wires":[[]]},{"id":"b48bd9d1.d28838","type":"switch","z":"79732150.253cf","name":"","property":"payload.fft.max.f","propertyType":"msg","rules":[{"t":"lte","v":"6000","vt":"num"},{"t":"gt","v":"6000","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":320,"wires":[["7d93dff6.759a28"],["fdfe36ab.2f1348"]]},{"id":"7d93dff6.759a28","type":"change","z":"79732150.253cf","name":"STOPPED","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOPPED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":320,"wires":[["835e9b86.638e38"]]},{"id":"fdfe36ab.2f1348","type":"change","z":"79732150.253cf","name":"RUNNING","rules":[{"t":"set","p":"payload","pt":"msg","to":"RUNNING","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":360,"wires":[["835e9b86.638e38"]]},{"id":"73df7197.c7e49","type":"ui_button","z":"79732150.253cf","name":"","group":"a9dbae56.318d3","order":4,"width":"2","height":"1","passthru":false,"label":"Stop","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":90,"y":580,"wires":[["359796a9.d7272a"]]},{"id":"12614da2.e3baf2","type":"ui_button","z":"79732150.253cf","name":"","group":"a9dbae56.318d3","order":4,"width":"2","height":"1","passthru":false,"label":"Start","color":"","bgcolor":"","icon":"","payload":"start","payloadType":"str","topic":"","x":90,"y":540,"wires":[["359796a9.d7272a"]]},{"id":"9cd34e21.dcd078","type":"link in","z":"26e66839.b01ad","name":"control_in_dsu","links":["359796a9.d7272a"],"x":55,"y":360,"wires":[["e20d62a2.0f5668"]]},{"id":"359796a9.d7272a","type":"link out","z":"79732150.253cf","name":"control_out_dsu","links":["9cd34e21.dcd078"],"x":895,"y":540,"wires":[]},{"id":"e20d62a2.0f5668","type":"switch","z":"26e66839.b01ad","name":"if start","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":300,"wires":[["800ebc79.c80ea8"],["f199d71e.173db","f1e01c7c.f40fb8"]]},{"id":"800ebc79.c80ea8","type":"exec","z":"26e66839.b01ad","command":"mv -f /media/data/wp.csv /media/data/wp.csv.bak","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"move csv > csv.bak","x":390,"y":280,"wires":[[],[],["f1e01c7c.f40fb8"]]},{"id":"fccd1d96.8e8418","type":"switch","z":"26e66839.b01ad","name":"if record dsu","property":"record_dsu","propertyType":"global","rules":[{"t":"eq","v":"start","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":80,"wires":[["eb35972b.47ceb8"]]},{"id":"52e0f82d.de2a48","type":"debug","z":"26e66839.b01ad","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":120,"wires":[]},{"id":"eb35972b.47ceb8","type":"change","z":"26e66839.b01ad","name":"max fft","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.fft.max","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":80,"wires":[["e14ca5e7.58223"]]},{"id":"f199d71e.173db","type":"change","z":"26e66839.b01ad","name":"set record dsu","rules":[{"t":"set","p":"record_dsu","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":380,"wires":[[]]},{"id":"afda5951.dadb78","type":"comment","z":"26e66839.b01ad","name":"DSU: write max magnitude and frequence to CSV if recording is enabled","info":"","x":260,"y":40,"wires":[]},{"id":"7113f4e6.347c2c","type":"comment","z":"79732150.253cf","name":"DSU: History from CSV File","info":"","x":110,"y":20,"wires":[]},{"id":"cfbc13a9.95c2","type":"comment","z":"79732150.253cf","name":"DSU: Live Data","info":"","x":80,"y":200,"wires":[]},{"id":"4395b7b0.2021f","type":"comment","z":"79732150.253cf","name":"DSU: Recording Control","info":"","x":110,"y":420,"wires":[]},{"id":"9b626580.ea598","type":"change","z":"79732150.253cf","name":"STOPPED","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOPPED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":500,"wires":[["f279ab47.d9ec6"]]},{"id":"8daf830c.cac0d8","type":"switch","z":"79732150.253cf","name":"","property":"record_dsu","propertyType":"global","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":460,"wires":[["5d4d2420.db187c"],["9b626580.ea598"]]},{"id":"5d4d2420.db187c","type":"change","z":"79732150.253cf","name":"RUNNING","rules":[{"t":"set","p":"payload","pt":"msg","to":"RUNNING","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":460,"wires":[["f279ab47.d9ec6"]]},{"id":"ffc74200.21d988","type":"fft","z":"fbc9b5d1.ecefe","name":"","inputMsgField":"payload.detrend.ACCX","outputMsgField":"payload.fft","x":550,"y":80,"wires":[["739e5494.9f7e44","d3a83e39.ab4d","2a4fc483.691604"]]},{"id":"73e2a029.b03cd8","type":"calculator","z":"fbc9b5d1.ecefe","name":"detrend X","inputMsgField":"payload.data.ACCX","outputMsgField":"payload.detrend.ACCX","operation":"detrend","constant":"","round":false,"decimals":0,"x":400,"y":80,"wires":[["ffc74200.21d988","657aaa74.cfde8c"]]},{"id":"739e5494.9f7e44","type":"function","z":"fbc9b5d1.ecefe","name":"max freq","func":"// get max magnitude\nvar m = msg.payload.fft.m;\nvar m_max = m.reduce(function(a, b) {\n  return Math.max(a, b);\n});\n\n// get freq of max magnitude\nvar i = m.indexOf(m_max);\nvar f_max = msg.payload.fft.f[i];\n\n// get timestamp\nvar freq = msg.payload.fft.f.length * 2;\nvar time = msg.payload.time + parseInt((1/freq)*i);\n\n// return\nmsg.payload.fft.max = {\n    time:time,\n    f:f_max,\n    m:m_max\n};\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":80,"wires":[["505e7c7c.9f8e2c"]]},{"id":"d3a83e39.ab4d","type":"debug","z":"fbc9b5d1.ecefe","name":"dbg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":120,"wires":[]},{"id":"a8dbd7ac.016c9","type":"pydslog","z":"fbc9b5d1.ecefe","name":"","device":"mls160a","freq":512,"channels":["ACCX","ACCY","ACCZ"],"broker":"47399a80.748f54","x":240,"y":80,"wires":[["73e2a029.b03cd8"]]},{"id":"c92fac35.8f1a4","type":"inject","z":"fbc9b5d1.ecefe","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3","x":90,"y":80,"wires":[["a8dbd7ac.016c9"]]},{"id":"cb2acde2.f0207","type":"inject","z":"fbc9b5d1.ecefe","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":120,"wires":[["a8dbd7ac.016c9"]]},{"id":"2a4fc483.691604","type":"link out","z":"fbc9b5d1.ecefe","name":"fft_out","links":["2e645684.6a30aa"],"x":835,"y":120,"wires":[]},{"id":"505e7c7c.9f8e2c","type":"link out","z":"fbc9b5d1.ecefe","name":"max_f_out","links":["7b197481.a23b24","a9d9d29c.0d5d38","d9880d37.5d28f","6e5a28b6.350298","db0b4812.13cfc8","2216a4ac.77aedc"],"x":835,"y":80,"wires":[]},{"id":"657aaa74.cfde8c","type":"debug","z":"fbc9b5d1.ecefe","name":"dbg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":120,"wires":[]},{"id":"50680d17.5185d4","type":"comment","z":"fbc9b5d1.ecefe","name":"Start PyDSLog","info":"","x":120,"y":40,"wires":[]},{"id":"3579b69d.9f250a","type":"comment","z":"163f060d.2dc572","name":"AV: write signal to CSV if recording is started","info":"","x":170,"y":40,"wires":[]},{"id":"ea773b39.d08a","type":"csv","z":"163f060d.2dc572","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"","skip":"0","x":590,"y":80,"wires":[["473ac843.b80328","1fe72684.d4c811"]]},{"id":"1fe72684.d4c811","type":"file","z":"163f060d.2dc572","name":"","filename":"/media/data/x.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","x":750,"y":80,"wires":[]},{"id":"d9880d37.5d28f","type":"link in","z":"163f060d.2dc572","name":"max_f_in","links":["72f186c8.6e666","505e7c7c.9f8e2c"],"x":55,"y":80,"wires":[["bdddc0dc.5b187","6232718d.0ae688"]]},{"id":"bdddc0dc.5b187","type":"switch","z":"163f060d.2dc572","name":"if record av","property":"record_av","propertyType":"global","rules":[{"t":"eq","v":"start","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":80,"wires":[["28fa9a1d.aaa18e","7249ba8.5acf1c4","dbf30742.bae168"]]},{"id":"473ac843.b80328","type":"debug","z":"163f060d.2dc572","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":200,"wires":[]},{"id":"bd66b9cc.b9969","type":"inject","z":"163f060d.2dc572","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":320,"wires":[["82b2f45b.088e18"]]},{"id":"822da634.10841","type":"change","z":"163f060d.2dc572","name":"set record av","rules":[{"t":"set","p":"record_av","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":420,"wires":[[]]},{"id":"61d0cd42.0aa7cc","type":"inject","z":"163f060d.2dc572","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":360,"wires":[["82b2f45b.088e18"]]},{"id":"a7e5eb94.f27428","type":"csv","z":"163f060d.2dc572","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"","skip":"0","x":590,"y":120,"wires":[["50d332c.65e864c"]]},{"id":"b50b47a0.57f2f","type":"csv","z":"163f060d.2dc572","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"","skip":"0","x":590,"y":160,"wires":[["9b7f9343.672148"]]},{"id":"50d332c.65e864c","type":"file","z":"163f060d.2dc572","name":"","filename":"/media/data/y.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","x":750,"y":120,"wires":[]},{"id":"9b7f9343.672148","type":"file","z":"163f060d.2dc572","name":"","filename":"/media/data/z.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","x":750,"y":160,"wires":[]},{"id":"a145aedb.e01ac8","type":"comment","z":"163f060d.2dc572","name":"AV: start recording manualy, delete CSV before start","info":"","x":190,"y":280,"wires":[]},{"id":"6e5a28b6.350298","type":"link in","z":"163f060d.2dc572","name":"max_f_in","links":["505e7c7c.9f8e2c"],"x":55,"y":520,"wires":[["f0b491a6.14ca68"]]},{"id":"f0b491a6.14ca68","type":"switch","z":"163f060d.2dc572","name":"m > 10000","property":"payload.fft.max.m","propertyType":"msg","rules":[{"t":"gte","v":"10000","vt":"num"},{"t":"lt","v":"10000","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":520,"wires":[["be54cd1a.44b36"],["f7de45bc.dae54"]]},{"id":"be54cd1a.44b36","type":"change","z":"163f060d.2dc572","name":"start","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":500,"wires":[["822da634.10841","168d2f81.fed5a"]]},{"id":"f7de45bc.dae54","type":"change","z":"163f060d.2dc572","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":540,"wires":[["168d2f81.fed5a"]]},{"id":"28fa9a1d.aaa18e","type":"function","z":"163f060d.2dc572","name":"ACCX","func":"var x = msg.payload.data.ACCX;\nx.unshift(msg.payload.time)\nreturn {\n    payload:x\n};","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["ea773b39.d08a"]]},{"id":"6232718d.0ae688","type":"debug","z":"163f060d.2dc572","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":170,"y":160,"wires":[]},{"id":"7249ba8.5acf1c4","type":"function","z":"163f060d.2dc572","name":"ACCY","func":"var x = msg.payload.data.ACCY;\nx.unshift(msg.payload.time)\nreturn {\n    payload:x\n};","outputs":1,"noerr":0,"x":470,"y":120,"wires":[["a7e5eb94.f27428"]]},{"id":"dbf30742.bae168","type":"function","z":"163f060d.2dc572","name":"ACCZ","func":"var x = msg.payload.data.ACCZ;\nx.unshift(msg.payload.time)\nreturn {\n    payload:x\n};","outputs":1,"noerr":0,"x":470,"y":160,"wires":[["b50b47a0.57f2f"]]},{"id":"c2836c08.6d9088","type":"comment","z":"26e66839.b01ad","name":"DSU: start recording, backup CSV, recording will stop after 24h","info":"","x":230,"y":220,"wires":[]},{"id":"1b1513b8.73640c","type":"inject","z":"26e66839.b01ad","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":260,"wires":[["e20d62a2.0f5668"]]},{"id":"5a025851.85aa68","type":"inject","z":"26e66839.b01ad","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":300,"wires":[["e20d62a2.0f5668"]]},{"id":"f1e01c7c.f40fb8","type":"trigger","z":"26e66839.b01ad","op1":"start","op2":"stop","op1type":"str","op2type":"str","duration":"24","extend":false,"units":"hr","reset":"stop","bytopic":"all","name":"","x":570,"y":320,"wires":[["f199d71e.173db"]]},{"id":"f279ab47.d9ec6","type":"ui_text","z":"79732150.253cf","group":"a9dbae56.318d3","order":0,"width":"5","height":"1","name":"","label":"Recording:","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":460,"wires":[]},{"id":"835e9b86.638e38","type":"ui_text","z":"79732150.253cf","group":"39d263e3.2b025c","order":4,"width":"4","height":"1","name":"","label":"Status:","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":320,"wires":[]},{"id":"ab06a6b1.1ec07","type":"ui_button","z":"79732150.253cf","name":"","group":"b1edad0d.6f2d4","order":4,"width":"2","height":"1","passthru":false,"label":"Stop","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":90,"y":720,"wires":[["68a72f2.0b941d"]]},{"id":"49d5ec5.5c39694","type":"ui_button","z":"79732150.253cf","name":"","group":"b1edad0d.6f2d4","order":4,"width":"2","height":"1","passthru":false,"label":"Start","color":"","bgcolor":"","icon":"","payload":"start","payloadType":"str","topic":"","x":90,"y":680,"wires":[["68a72f2.0b941d"]]},{"id":"68a72f2.0b941d","type":"link out","z":"79732150.253cf","name":"control_out_av","links":["74bac775.c4c4e"],"x":895,"y":680,"wires":[]},{"id":"74bac775.c4c4e","type":"link in","z":"163f060d.2dc572","name":"control_in_av","links":["68a72f2.0b941d"],"x":55,"y":400,"wires":[["82b2f45b.088e18"]]},{"id":"82b2f45b.088e18","type":"switch","z":"163f060d.2dc572","name":"if start","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":360,"wires":[["be572fac.b6d018"],["822da634.10841"]]},{"id":"be572fac.b6d018","type":"exec","z":"163f060d.2dc572","command":"rm -f /media/data/x.csv /media/data/y.csv /media/data/z.csv && echo -n \"start\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"del csv","x":380,"y":320,"wires":[["822da634.10841"],[],[]]},{"id":"37e73b3a.10623c","type":"comment","z":"163f060d.2dc572","name":"AV: start recording automaticaly if magnitude is > 10000","info":"","x":200,"y":460,"wires":[]},{"id":"7d63d37e.733f6c","type":"comment","z":"79732150.253cf","name":"AV: Recording Control","info":"","x":100,"y":640,"wires":[]},{"id":"db0b4812.13cfc8","type":"link in","z":"79732150.253cf","name":"max_f_in","links":["505e7c7c.9f8e2c"],"x":55,"y":460,"wires":[["8daf830c.cac0d8"]]},{"id":"2216a4ac.77aedc","type":"link in","z":"79732150.253cf","name":"max_f_in","links":["505e7c7c.9f8e2c"],"x":55,"y":760,"wires":[["b9506665.3c5f08"]]},{"id":"4ed274fa.23a5a4","type":"ui_text","z":"79732150.253cf","group":"b1edad0d.6f2d4","order":0,"width":"5","height":"1","name":"","label":"Recording:","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":740,"wires":[]},{"id":"8299b1d9.e898e8","type":"change","z":"79732150.253cf","name":"STOPPED","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOPPED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":800,"wires":[["4ed274fa.23a5a4"]]},{"id":"b9506665.3c5f08","type":"switch","z":"79732150.253cf","name":"","property":"record_av","propertyType":"global","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":760,"wires":[["cd703589.1da55"],["8299b1d9.e898e8"]]},{"id":"cd703589.1da55","type":"change","z":"79732150.253cf","name":"RUNNING","rules":[{"t":"set","p":"payload","pt":"msg","to":"RUNNING","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":760,"wires":[["4ed274fa.23a5a4"]]},{"id":"168d2f81.fed5a","type":"trigger","z":"163f060d.2dc572","op1":"","op2":"stop","op1type":"nul","op2type":"str","duration":"30","extend":false,"units":"s","reset":"start","bytopic":"all","name":"","x":530,"y":540,"wires":[["822da634.10841"]]}]